body {
    margin: 10px;

}
@media screen and (min-width:365px) and (max-width:1192px) {
    .alert-info {
        display: flex;
        border: 2px solid lightgrey;
        background-color: lightsteelblue;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 2em;
        font-size: 10px;
        padding: .5em 0;

    }
    .nav-links {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        align-items: center;
        padding: 0;

    }
li {
    border: 2px solid lightgrey;
    width: 100%;
    height: 2em;
    padding: .5em 0;
    text-align: center;
    margin: .4em;
    background: lightgray;
}
    div > a {
        text-decoration: none;
        color: black;
    }
}
h1 {
    text-align: center;
}
img {

    height: 224px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
@media screen and (min-width:934px) {
}

/*a {*/
/*    display: flex;*/
/*    text-decoration: none;*/
/*    visibility: visible;*/
/*}*/




